html, body {
  margin: 0 auto;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

select, input, button, textarea, optgroup {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  background: #53c5a1;
}

.logo {
  width: 100px;
  height: 60px;
  padding: 30px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}

.information-text {
  width: 300px;
  padding: 0 50px;
}

.step-wrapper {
  background: #eac868e8;
  border-radius: 5px;
}

.step {
  width: 200px;
  height: 200px;
  padding: 30px 20px 30px;
}
label {
  display: block;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  bottom: 0;
  position: fixed;
  background: #100844;
  width: 100%;
  color: white;
}
